.footer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: flex-end;
  align-items: baseline;

  &__link {
    font-size: 1.6rem;
    color: white;
    border: solid white 1px;
    padding: 0.4rem 1rem;
    border-radius: 100%;
    text-decoration: none;
    margin-left: 1.4rem;

    &:nth-child(2) {
      padding: 0.4rem 0.7rem;
    }

    &:nth-child(3) {
      padding: 0.4rem 0.8rem;
    }
  }
}
